@import "bourbon/bourbon"

$gray-color: #959595
$dark-color: #252525
$blue-color: #00aff0
html 
	margin-right: 0 !important
body
	font-family: "RobotoMedium", sans-serif
	font-size: 18px
	color: $gray-color
	text-align: center
	min-width: 1250px
	position: relative
	-webkit-font-smoothing: antialised
	margin: 0
	padding: 0
	min-width: 1270px
	padding-top: 75px
h1
	font-size: 72px
	font-family: "RobotoBold";
	text-transform: uppercase
	margin: 50px 0 40px 
h2
	font-size: 30px
	font-family: "RobotoMedium";
	margin-bottom: 15px
h3 
	font-size: 48px
	color: #252525
	font-family: 'RobotoThin'
.btn 
	color: #fff 
	background-color: $blue-color
	display: inline-block
	text-decoration: none
	border-radius: 3px 
	font-size: 30px
	padding: 7px 10px
	box-sizing: border-box
	border: none
	cursor: pointer
	&:hover
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		background-color: #039BD3

form 
	width: 820px
	height: 460px
	background-color: #FFF
	text-align: center
	padding: 70px 150px 
	box-sizing: border-box
	margin: 0 auto;
	position: relative
	h3 
		margin-top: 0
	input
		width: 215px
		height: 35px
		text-indent: 10px
		border: 1px solid $gray-color
		border-radius: 3px 
		display: inline-block
		margin: 10px
		vertical-align: top
	p 
		border-top: 1px solid $gray-color
		width: 215px
		display: inline-block
		font-size: 14px
		font-family: "RobotoLight";
		margin: 10px
		vertical-align: top
		text-align: left
	.btn 
		width: 245px
		height: 50px
		margin-top: 30px
.top-line
		height: 75px
		background-color: #FFF
		position: fixed
		width: 100%
		top: 0
		left: 0
		.logo
			position: absolute 
			top: 20px;
			left: 50%;
			margin-left: -105px;
		.container
			max-width: 1250px
			margin: 0 auto
		.social
			float: left
			text-align: right
			span
				margin: 0 15px
				color: $dark-color
			a 
				margin: 0 10px 
				color: $dark-color
				font-size: 20px 
				line-height: 43px
				&:hover
					color: $gray-color
		.back-call
			float: right
			color: $dark-color
			font-size: 20px 
			line-height: 70px
			outline: none
			text-decoration: none
			&:hover
				text-decoration: underline
header
	background: url('../img/header-bg.jpg') 
	background-position: center top
	background-size: cover
	color: #fff
	padding: 90px
	.line
		width: 20px 
		height: 2px 
		margin: 0 auto 30px
		background-color: #dddddd
	.specialization
	.btn 
		width: 240px 
		height: 65px
		line-height: 25px
		padding: 20px 
		margin-top: 50px

#albums
	.album-wrap
		overflow: hidden
		width: 100%
		max-width: 2000px
		margin: 0 auto
		.descr
			width: 50%
			height: 100%
			float: left
			display: table
			.center-wrap
				display: table-cell
				vertical-align: middle
				.text-wrap
					width: 450px
					margin: 0 auto
					text-align: left
			.btn 
				margin: 30px 0
			h3 
				margin: 0 0 20px
			p 
				font-family: 'RobotoLight'	
		img 
			width: 50%
			float: right
		&:nth-child(even)
			background-color: #f0f0f0
			.descr
				float: right
			img
				float: left
	.mfp-close-btn-in .mfp-close
		color: #fff 
#work-photos-slider
	width: 60%
	max-width: 1400px
	min-width: 700px
	margin: 0 auto
	position: relative
	button
		color: #fff
	img 
		width: 100%
		height: auto
	.owl-prev, .owl-next
		position: absolute;
		top: 50% !important;
		margin-top: -70px !important;
		background-image: url("../img/arrows.png") !important;
		background-color: transparent !important;
		font-size: 0 !important;
		padding: 0 !important;
		width: 37px;
		height: 61px;
		z-index: 1000;
	.owl-prev 
		left: -100px
		background-position: 0 0 !important;
	.owl-next
		right: -100px
		background-position: 102px 0 !important;

#action
	padding: 100px
	h3
		margin: 0 0 20px
	p 
		font-family: "RobotoRegular";
	.btn 
		margin: 35px 0 0

#brands
	background-image: url("../img/brands-bg.jpg")
	background-size: cover
	background-position: center top 
	padding: 50px 0
	img 
		margin: 25px 30px

#dowload
	padding: 80px
	.btn 
		padding: 7px 20px
	p 
		font-family: "RobotoRegular";
	h3 
		margin-top: 0

#contacts
	.contact-wrap
		overflow: hidden
		width: 100%
		max-width: 2000px
		background-color: #f0f0f0
		margin: 0 auto
		.descr
			width: 50%
			height: 100%
			float: left
			display: table
			.center-wrap
				display: table-cell
				vertical-align: middle
				.text-wrap
					width: 450px
					margin: 0 auto
					text-align: left
			.btn 
				margin: 30px 0
			h3 
				margin: 0 0 20px
			p 
				font-family: "RobotoRegular";
			span
				font-family: "RobotoBold";

		img 
			width: 50%
			float: right

.mfp-move-from-top 

	.mfp-content 
		vertical-align:middle; 

		form
			opacity: 0;
			transition: all 0.4s;
			transform: translateY(-100px);


		&.mfp-bg 
			opacity: 0;
			transition: all 0.4s;

	&.mfp-ready 
		form
			opacity: 1;
			transform: translateY(0);

		&.mfp-bg 
			opacity: 0.8;
			transition: all 0.4s;


	&.mfp-removing 
		form 
			transform: translateY(-50px);
			opacity: 0;

		&.mfp-bg 
			opacity: 0;
			transition: all 0.4s;



.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg 
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;


.mfp-with-zoom.mfp-ready .mfp-container 
	opacity: 1;

.mfp-with-zoom.mfp-ready.mfp-bg 
	opacity: 0.8;


.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg 
	opacity: 0;


.mfp-with-zoom 

	#work-photos-slider 
		opacity: 0;
		transition: all 0.5s ease-in-out; 
		transform: scale(0.3); 
	&.mfp-bg 
		opacity: 0;
		transition: all 0.5s ease-out;


	&.mfp-ready 
		#work-photos-slider
			opacity: 1;
			transition: all 0.5s ease-in-out; 
			transform: scale(1); 
		&.mfp-bg 
			opacity: 0.8;

	&.mfp-removing 
		#work-photos-slider
			opacity: 0;
			transform: scale(0.3); 
			transition: all 0.5s ease-in-out; 	
		&.mfp-bg 
			opacity: 0;
		

footer
	padding: 20px 10px
	position: relative
	.container
		max-width: 1250px
		margin: 0 auto
		overflow: hidden
	.arrov-up
		position: absolute
		top: -25px 
		right: 0
	.right
		float: left
		font-family: "RobotoLight";
		font-size: 14px
	img 
		display: inline-block
		margin-right: 10px
	.copyright
		display: inline-block
	.social
		float: right
		a 
			margin: 0 10px 
			color: $gray-color
			font-size: 20px 
			line-height: 50px
			&:hover
				color: $dark-color
		span 
			margin: 0 15px

.hidden
	display: none